<div class="container">	
	<div class="bs-docs-section">
	  <div class="row">
	    <div class="col-lg-12">
	      <div class="page-header">
	        <h1 id="forms">Новая операция</h1>
	      </div>
	    </div>
	  </div>

	  <%= render 'entry_operation_form' %>
	  
	</div>
</div>